@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.imagenOscura img {
    overflow: hidden;
    border-radius: 20px;
}

.imagenOscura:hover img {
    filter: brightness(80%); 
}

.input-perfil input{
    width: 80%;
    background: transparent;
    padding: 12px 16px;
    border: 1px solid white;
    border-radius: 20px;
}